/*html{
    min-width: 100%;
    color: #000;
    background:#fff;
    font-size: 100%;
}
*/

body {
    margin: 0;
    padding: 0;
    font-family: "Mircosoft YaHei";
    color: #333;
}

.mt15 {
    margin-top: 15px;
}

.left-div {
    float: left;
    width: 300px;
    height: 300px;
    background: tomato;
    /*水平垂直居中盒子*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    background-color: yellow;
}

.right-div {
    float: right;
    width: 300px;
    height: 300px;
    background-color: green;
}

.circle-div {
    width: 100px;
    height: 100PX;
    background-color: aqua;
    border-radius: 50%;
    cursor: crosshair;
    position: absolute;
    left: 50px;
    top: 50px;
    line-height: 100px;
    text-align: center;
}

.imgcircle {
    vertical-align: middle;
}

.spantext {
    line-height: 30px;
}

.oneborder {
    margin-top: 350px;
    height: 1px;
    overflow: hidden;
    background: red;
}

footer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    /*webkit*/
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    /*moz*/
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    -moz-align-items: stretch;
    /*ie*/
    display: -ms-flex;
    -ms-flex-flow: row wrap;
    -ms-align-items: stretch;
}

#first {
    flex: 1 0 7rem;
    -webkit-flex: 1 0 7rem;
    -moz-flex: 1 0 7rem;
    -ms-flex: 1 0 7rem;
}

#second {
    order: 1;
    -ms-order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    flex: 2 0 8rem;
    -ms-flex: 2 0 8rem;
    -moz-flex: 2 0 8rem;
    -webkit-flex: 2 0 8rem;
}

#third {
    flex: 1.5 0 7rem;
    -ms-flex: 1.5 0 7rem;
    -moz-flex: 1.5 0 7rem;
    -webkit-flex: 1.5 0 7rem;
}

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }
    #fixed {
        left: 0%;
        right: 0%;
    }
}

@media screen and (max-width: 520px) {
    #fixed {
        position: static;
    }
    section {
        padding: 1rem 2rem;
    }
    body {
        padding-bottom: 0;
        background-image: none;
        background-color: white;
    }
    footer {
        padding: 0 1rem 0;
    }
    #first {
        -webkit-flex: 1 0 10rem;
        -moz-flex: 1 0 10rem;
        -ms-flex: 1 0 10rem;
        flex: 1 0 10rem;
    }
    #second {
        -webkit-flex: 1 0 10rem;
        -moz-flex: 1 0 10rem;
        -ms-flex: 1 0 10rem;
        flex: 1 0 10rem;
    }
    #third {
        -webkit-flex: 1 0 10rem;
        -moz-flex: 1 0 10rem;
        -ms-flex: 1 0 10rem;
        flex: 1 0 10rem;
    }
}

@media screen and (max-width: 380px) {
    section {
        padding: 1rem 1rem;
    }
    footer div {
        right: 1rem;
    }
}
