<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>
</head>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
  }

  .left {
    width: 100px;
    height: 200px;
    float: left;
    background-color: red;
    margin-right: 20px;
  }

  .right {
    float: right;
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    margin-left: 20px;
  }

  .container {
    background-color: purple;
    overflow: hidden;
    height: 200px;
  }
</style>

<body>
  <div class="left"></div>
  <div class="right"></div>
  <div class="container"></div>
</body>

</html>